{% extends "sqladmin/layout.html" %}
{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">CodeAgent Admin</h3>
        </div>
        <div class="card-body border-bottom py-3">
            <div class="row">
                <div class="card text-bg-light col-2 mb-2 m-2" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>Total Releases</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ releases.total }}</h5>
                    </div>
                </div>
                <div class="card text-bg-success col-2 mb-2 m-2" style="max-width: 18rem;">
                    <div class="card-header">
                        <h3>Active Releases</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ releases.active }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}