
<style>
    .alert-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    
    .alert-container {
        margin-top: 10px;
    }
    
    .alert-content {
        display: flex;
        align-items: flex-start;
        gap: 0;
        justify-content: flex-start;
    }
    
    .alert-icon {
        flex-shrink: 0;
        margin-top: 1px;
        margin-right: 10px;
    }
    
    .alert-text {
        flex: 1;
    }

    .btn-close {
        margin-top: 1px;
    }
</style>

<div class="alert-overlay">
    <div class="col-lg-6 alert-container">
        <div class="alert alert-danger" role="alert">
            <div class="alert-content">
                <div class="alert-icon">
                    <!-- Download SVG icon from http://tabler.io/icons/icon/alert-circle -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-alert-circle">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"/>
                        <path d="M12 8v4"/>
                        <path d="M12 16h.01"/>
                    </svg>
                </div>
                <div class="alert-text">
                    <h4 class="alert-heading">{{ alert.title }}</h4>
                    <div class="alert-description">
                        {{ alert.details }}
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        </div>
    </div>
</div>
