name: Scan

on:
  push:
    branches:
      - "main"
  schedule:
    - cron: "0 0 * * 1" # Every Monday at 00:00

env:
  DOCKER_IMAGE: release-agent:scan-${{ github.sha }}
  TRIVY_VERSION: "v0.67.2"
  TRIVY_SEVERITY: "CRITICAL,HIGH,MEDIUM,LOW"
  OPENGREP_VERSION: "v1.11.2"
  TRUFFLEHOG_VERSION: "v3.90.12"
  GITLEAKS_VERSION: "v8.28.0"

jobs:
  trivy-image:
    name: trivy-image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Prepare .env file
        env:
          PWD: $(PWD)
        run: |
          cp .env.template .env
          env >> .env

      - name: Build image
        env:
          DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
        run: docker compose build app

      - name: Run Trivy Image (report)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          version: ${{ env.TRIVY_VERSION }}
          scan-type: "image"
          image-ref: ${{ env.DOCKER_IMAGE }}
          format: "json"
          output: "${{ runner.workspace }}/trivy-image-results.json"
          exit-code: "0"
          ignore-unfixed: false
          vuln-type: "os,library"
          severity: "${{ env.TRIVY_SEVERITY }}"
          hide-progress: "true"

      - name: Upload scan results
        uses: actions/upload-artifact@v4
        with:
          name: trivy-images-results
          path: ${{ runner.workspace }}/trivy-image-results.json
          retention-days: 60

      - name: Run Trivy Image (alert)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          version: ${{ env.TRIVY_VERSION }}
          scan-type: "image"
          image-ref: ${{ env.DOCKER_IMAGE }}
          format: "table"
          exit-code: "1"
          ignore-unfixed: false
          vuln-type: "os,library"
          severity: "${{ env.TRIVY_SEVERITY }}"
          hide-progress: "true"

  trivy-fs:
    name: trivy-fs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Trivy FS (report)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          version: ${{ env.TRIVY_VERSION }}
          scan-type: "fs"
          scan-ref: "."
          format: "json"
          output: "${{ runner.workspace }}/trivy-fs-results.json"
          exit-code: "0"
          ignore-unfixed: false
          vuln-type: "os,library"
          severity: "${{ env.TRIVY_SEVERITY }}"
          hide-progress: "true"

      - name: Upload scan results
        uses: actions/upload-artifact@v4
        with:
          name: trivy-fs-results
          path: ${{ runner.workspace }}/trivy-fs-results.json
          retention-days: 60

      - name: Run Trivy FS (alert)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          version: ${{ env.TRIVY_VERSION }}
          scan-type: "fs"
          scan-ref: "."
          format: "table"
          exit-code: "1"
          ignore-unfixed: false
          vuln-type: "os,library"
          severity: "${{ env.TRIVY_SEVERITY }}"
          hide-progress: "true"

  trufflehog:
    name: trufflehog
    runs-on: ubuntu-latest
    steps:
      - name: Install Trufflehog
        run: |
          curl -sSfL https://raw.githubusercontent.com/trufflesecurity/trufflehog/main/scripts/install.sh | sh -s -- -b /usr/local/bin ${{ env.TRUFFLEHOG_VERSION }}

      - uses: actions/checkout@v4

      - name: Run Trufflehog FS (report)
        run: |
          ls -lah ${{ runner.workspace }}
          trufflehog filesystem ${{ runner.workspace }} --results=verified,unknown --json > "${{ runner.workspace }}/trufflehog-results.json"

      - name: Upload scan results
        uses: actions/upload-artifact@v4
        with:
          name: trufflehog-results
          path: "${{ runner.workspace }}/trufflehog-results.json"
          retention-days: 60

      - name: Run Trufflehog FS (alert)
        run: |
          trufflehog filesystem ${{ runner.workspace }} --results=verified,unknown --fail --github-actions

  gitleaks:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - name: Install GitLeaks
        run: |
          git clone --branch ${{ env.GITLEAKS_VERSION }} https://github.com/gitleaks/gitleaks.git /home/runner/.gitleaks
          cd /home/runner/.gitleaks
          make build
          pwd
          ls -lah

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for better secret detection

      - name: Run Gitleaks (report)
        run: |
          export PATH='/home/runner/.gitleaks':$PATH
          gitleaks git . --exit-code 0 --report-format json --report-path "${{ runner.workspace }}/gitleaks-results.json"

      - name: Upload scan results
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-results
          path: "${{ runner.workspace }}/gitleaks-results.json"
          retention-days: 60

      - name: Run Gitleaks (alert)
        run: |
          export PATH='/home/runner/.gitleaks':$PATH
          gitleaks git . --verbose

  opengrep:
    name: opengrep
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Opengrep
        run: |
          curl -fsSL https://raw.githubusercontent.com/opengrep/opengrep/main/install.sh  | bash -s -- -v ${{ env.OPENGREP_VERSION }}

      - name: Clone Opengrep Rules
        run: |
          git clone https://github.com/opengrep/opengrep-rules.git

      - name: Run Opengrep Scan (report)
        run: |
          export PATH='/home/runner/.opengrep/cli/latest':$PATH
          opengrep scan --config opengrep-rules/python --json -o "${{ runner.workspace }}/opengrep-results.json" .

      - name: Upload scan results
        uses: actions/upload-artifact@v4
        with:
          name: opengrep-results
          path: "${{ runner.workspace }}/opengrep-results.json"
          retention-days: 60

      - name: Run Opengrep Scan (alert)
        run: |
          export PATH='/home/runner/.opengrep/cli/latest':$PATH
          opengrep scan --config opengrep-rules/python --error .
